# Folder
[Dd]ebug/
[Rr]elease/

# Compiled resource file
*.res

# Machine generated header from .pas file
*.hpp

# User-specific project options
*.local

# History file
*.~*~

# Castalia statistics file
*.stat

# Windows thumbnail cache
Thumbs.db

# Temporary file
*.tmp