MOD_MUSIC       RCDATA "music\\aegwynn.mod"
Resource_2      RCDATA "music\\tillykke.mod"

PNG_PLAY        RCData "images\\play.png"
PNG_STOP        RCData "images\\stop.png"
PNG_PAUSE       RCData "images\\pause.png"
PNG_REPEAT      RCData "images\\repeat.png"
PNG_OPEN        RCData "images\\open.png"
PNG_VOLUMEMUTE  RCData "images\\volume_mute.png"
PNG_VOLUME0     RCData "images\\volume_0.png"
PNG_VOLUME1     RCData "images\\volume_1.png"
PNG_VOLUME2     RCData "images\\volume_2.png"
PNG_VOLUME3     RCData "images\\volume_3.png"
